.main_nav {
  grid-area: n;
  background-color: #d4edf6;
  border-right: 2px solid #f3f8f8;
  border-top: 2px solid #f3f8f8;
}

.item {
  color: white;
  list-style-type: none;
  width: 100%;
}

.item a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.item a.active {
  background-color: #0b6d8f;
}
